*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkbox-list{
  display: flex;

  justify-content: center;
  align-items: center;
  height:auto;
  width:100%;
  background-color: #881BEA !important;

}

.card{
  background-color: F5F5F5;
  border-radius: 5px;
  width:500px;
  height: 600px;
  margin:5rem 1rem;
}


.card h3{
  margin:0 0 1rem 1.5rem;

}
.card li{
  color:#A1A1A1;
  margin: .5rem .5rem 1rem 1.5rem ;
  
}

.card input{
  margin-right: .5rem;
} 



.card-show{
  padding: 0;
  margin: .2rem 0;
  border-radius: 5px;
}

.card-show p{
  font-size:1.2rem;
  margin: 1rem 1rem 1rem 1.5rem;
  background-color: #E4E4E4;
  padding: .5rem 1rem;
  vertical-align: bottom;
  border-radius: 5px;
  color:#A1A1A1;
}


ul{
  list-style-type: none;
}

span{
  font-size:2rem;
  font-weight: 500;
  display: inline-block;
  padding: 0 !important;
  margin-top: -0.8rem !important;
}

.child-coponent{
  display: flex;
  color:gray;
  padding-top: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}